<main>
  <app-header></app-header>

  <section class="container">
    <div class="section-1">
      <div class="w-50 text-margin">
        <h2>PRODUCT DESIGNER</h2>
        <h3>MOGHAVI</h3>

        <div class="icons">
          <i *ngFor="let item of icons" [inlineSVG]="'assets/icons/'+ item + '.svg'"></i>
          <div>
            Download Curriculum Vitae
            <i inlineSVG="assets/icons/arrow-down.svg"></i>
          </div>
        </div>
      </div>
      <div class="w-50 image-container">
        <img src="assets/images/landing-image.png" alt="img-landing">
      </div>
    </div>

    <div class="section-2 my-5">
      <div *ngFor="let item of info">
        <div class="items">
          <div>{{item?.title}}</div>
          <span>{{item?.subtitle}}</span>
        </div>
      </div>
    </div>
  </section>

  <div class="section-3 my-5">
    <h2 class="ms-4">PORTFOLIO</h2>
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let item of cart">
        <app-cart [info]="item"></app-cart>
      </div>
    </div>
  </div>

  <div class="section-4 my-5">
    <h2 class="ms-4">skills</h2>
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let item of cart">

      </div>
    </div>
  </div>
</main>
